* {
    box-sizing: border-box;
}

body {
    background-color: rgb(127, 71, 161);
}


.accordion-container {
    font-size: 12px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 30px 30px 10px 10px;
    width: 344px;
    border: 2px solid;
}


.svg-container {
    text-align: center;
}

.svg-container svg {
    width: 200px;
    padding-top: 30px;
}

.accordion-container h1 {
    padding-top: 30px;
}

.accordion {
    width: 100%;
    text-align: left;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s
}

.accordion:hover {
    cursor: pointer;
}

.accordion-container h1 {
    text-align: center;
}


.panel {
    display: none;
    text-align: left;
    padding: 0 18px;
}

.show {
    display: block;
}

.bold {
    font-weight: bold;
}

@media(min-width: 600px) {
    .accordion-container {
        width: 600px;
    }
}
